<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Stock Management Application - A B C Store</h1>
            <h3 id="about-heading" class="mt-5">The history of A B C - a legacy of transforming lives</h3>


            <div class="about">

                <!--  <p class="mt-3">From a purely technological point of view, we tend to think of Product phones in terms of applications,
                processors, cameras etc. However, when we look at the society at large, the impact of Product phones in
                the lives of the citizen of our country has been nothing short of phenomenal. Consequently, we at ABC
                have played a singular role in transforming the lives of over 60 lakh individuals profoundly, for the
                better.
            </p> -->

                <p class="mt-3">
                    As a Seller, Site Administrator, or Channel Manager, you can use the Store Management tool in
                    Management Center to manage your stores. The Store Management tool in Management Center replaces all
                    of the store management features in WebSphere Commerce Accelerator, except store creation and the
                    ability to suspend and resume stores.
                </p>
            </div>
            <!-- button for eneter list of items -->
            <div class="button mb-5">
                <a routerLink="all-items" class="btn btn-success mt-2 ">View Stock Details</a>
            </div>
        </div>
    </div>
</div>